
body {
  padding: 0;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}


.skeleton {
  border-radius: 2px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  animation: skeleton 500ms ease-in-out infinite;
}